@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}


  .geocoder-container {
        position: relative;
  }

  .mapboxgl-ctrl-geocoder .suggestions{
    z-index: 9999; /* Adjust this value as needed to make sure it's above all other elements */
    position: relative;
  }

  .mapboxgl-ctrl-geocoder {
    width: 100%;
  }

  .mapboxgl-ctrl-geocoder .suggestion.matching-suggestion {
    color: green;
  }
  .mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    padding: 10px;
    min-width: 180px;  /* Ensures popup isn't too small */
    max-width: 90%; /* Ensures popup doesn't get too wide */
    border-radius: 25px; 
  }
  
  .mapboxgl-popup-content .popup-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .mapboxgl-popup-content .popup-content h3 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #000;
    white-space: nowrap;  /* Prevents the text from wrapping to the next line */
    overflow: hidden;  /* Hides any part of the text that overflows the element */
    text-overflow: ellipsis;  /* Adds an ellipsis (...) to any text that overflows */
  }
  
  .mapboxgl-popup-content .popup-content .heinosity-indicator {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    flex-shrink: 0; /* Prevents the circle from shrinking */
  }
  
  