@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.mapContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#mapInstance {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

  .geocoder-container {
        position: relative;
  }

  .mapboxgl-ctrl-geocoder .suggestions{
    z-index: 9999; /* Adjust this value as needed to make sure it's above all other elements */
    position: relative;
  }

  .mapboxgl-ctrl-geocoder {
    width: 100%;
  }

  .mapboxgl-ctrl-geocoder .suggestion.matching-suggestion {
    color: green;
  }
  
  .mapboxgl-popup-content {
    padding: 5px;
    padding-left: 10px;
    min-width: 130px;  /* Ensures popup isn't too small */
   /* max-width: 90%; /* Ensures popup doesn't get too wide */
    border-radius: 25px; 
  }
  
  .mapboxgl-popup-content .popup-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .mapboxgl-popup-content .popup-content h3 {
    margin: 0;
    padding: 0;
    color: #000;
  }
  
  .mapboxgl-popup-content .popup-content .heinosity-indicator {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    flex-shrink: 0; /* Prevents the circle from shrinking */
  }
  
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
  }
  
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
  }
  